/* Base */
@import 'tailwindcss/base';
@import './styles/base.pcss';

/* Components */
@import 'tailwindcss/components';
@import './styles/components.pcss';

/* Utilities */
@import './styles/utilities.pcss';
@import 'tailwindcss/utilities';
